<!DOCTYPE html>
<html lang="ch">
<head>
	<title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog_content.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog_list.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/d-reset.css" type="text/css" />
</head>
<body>
	<div id="header">
		<h2>阮胜的博客</h2>
	</div>
	<div id="sort_content">
		<p>骚阮</p>
		<div class="sort_detail">
			<input type="text"  placeholder="搜索文章..."/>
		</div>
	</div>
	<div id="content_title">
		<a href="#">热门文章</a>
		<a href="#">面向对象编程</a>
		<a href="#" class="no_bg">文章列表</a>
	</div>
	<div id="content">
		{{ content }}
	</div>
</body>
</html>
